.contentStrip{
    height: 60%;
    width: 100%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    position: absolute;
    left: 0;
    top: 21%;
}.imageScrollBox{
    height: 100%;
    width: 45%;
    margin-left: 5%;
    margin-top: 0%;
    position: absolute;
    overflow: hidden;
    
}.imageScroll{
    width: 200%; 
    height: 90%;
    margin-top:5%;
    left: 50%; 
    -webkit-transform: translate(-35%, 0); 
    position: absolute;
    background-image: url(./images/f_ls_f1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}.menu{
    position:relative;
    width: 60%;
    top: 42%;

    z-index: 2;
}.menuItem{
    color: #000;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    cursor: pointer;
    bottom: 0;
}.logo{
    margin-left: 3%;
}

body {
    background-color: #2E2418;
    position: relative;
 
    font: 200 15px/15px "Arial";
	letter-spacing: 0.1em;
	color: #000;
	font-style: normal;
	
    height: 100%;
    padding: 0px;
    margin: 0px;
}

html{
	height: 100%;
	padding: 0px;
	margin: 0px;
}
/******************** MAIN CONTAINER DIVS **************/
.container {width:100%; height:100%;}

[class*='row-'] {
    width: 100%;
}
.row-2 { /***** play area**/
    position: absolute;
    height: 70%;
    overflow: auto;
    background: -webkit-linear-gradient(bottom, #00009E 0 , #2951CE 15%, #59AFFF 25%,  #FFFFFF 40%);
    background: -moz-linear-gradient(bottom, #00009E 0 , #2951CE 15%, #59AFFF 25%,  #FFFFFF 40%);
    background: -o-linear-gradient(bottom, #00009E 0 , #2951CE 15%, #59AFFF 25%,  #FFFFFF 40%);
    background: -linear-gradient(bottom, #00009E 0 , #2951CE 15%, #59AFFF 25%,  #FFFFFF 40%);
    background: -ms-linear-gradient(bottom, #00009E 0 , #2951CE 15%, #59AFFF 25%,  #FFFFFF 40%);
    /* IE 5.5ï¿½7 */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#2951CE');
    /* IE 8ï¿½9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#2951CE')";
    
}
.row-1 { /***** logo area**/
    height: 30%;
    background-color: #FFFFFF;
}
.row-logo{/***** div for logo in top row**/
    position: relative;
    height: 100%;
    left: 0%;
}



/************************ INPUT STYLE **********************/
/**************Text input bar styling ***********/

input[type="text"]{
    
	padding: 0px;   
	border: 0px solid #e1e0e0;
	border-right: 1px solid #e1e0e0;
	    
	/*Applying gradient*/
	background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
	background: -webkit-linear-gradient(bottom, #eeeded 0, #eee 70%, #e1e0e0 100%);
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
	
	/*Applying radius*/   
	-moz-border-radius: 3px;
	-webkit-border-top-right-radius: 1px;
	border-top-right-radius: 1px;
	
	/*Applying box shadow*/
	-moz-box-shadow: 0 0 2px #DDDDDD;
	-webkit-box-shadow: 0 0 2px #DDDDDD;
	box-shadow: 0 0 2px #DDDDDD;

}
input[type="text"]:hover
{
	border:0px solid #cccccc;
}
input[type="text"]:focus
{
	-webkit-box-shadow: 0 0 2px #DDDDDD;
	box-shadow: 0 0 2px #DDDDDD;
}

/*************** POPUPS ****************************/
[class*="popup-"]{
    position: fixed;
    width: 200px;
    height: 400px;
    left: 40%;
    top: 40%;
    z-index: 999;
}


.europe{
    opacity: .2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=20);
  -moz-opacity: 0.2;
  -khtml-opacity: 0.2;
    pointer-events: none;
}
.searchRow{
    cursor: pointer;
}
.searchRowVendor{
    cursor: pointer;
}



